<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/form.css" />
    <title><%= title %></title>
  </head>
  <body>
    <form action="<%= postUri  %>" method="post">
      <label for="username">Username or email :</label>
      <input type="text" name="username" />
      <label for="password">password :</label>
      <input type="password" name="password" />
      <div class="form-btn-bar">
        <button type="submit">submit</button>
        <button type="reset">reset</button>
      </div>
    </form>
    <ul class="form-err-msg">
      <% for (var i = 0; i < messages?.length; i++) {%>
      <li><%= messages[i] %></li>
      <% } %>
    </ul>
  </body>
</html>
